{{- if .Values.worker.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "boundary.fullname" . }}-worker
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "boundary.labels" . | nindent 4 }}
    app.kubernetes.io/component: boundary-worker
spec:
  {{- if not .Values.worker.autoscaling.enabled }}
  replicas: {{ default .Values.global.replicaCount .Values.worker.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "boundary.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: boundary-worker
  template:
    metadata:
      annotations:
      {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "boundary.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: boundary-worker
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "boundary.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}-worker
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command:
            - /bin/sh
            - "-c"
          args:
           - boundary server -config /boundary/boundary-config.hcl
          env:
            - name: HOSTNAME
              value: boundary
            {{- range .Values.podSecrets }}
            - name: {{ .keyName }}
              valueFrom:
                secretKeyRef:
                  name: {{ .secretName }}
                  key: {{ .keyName }}
            {{- end }}
          volumeMounts:
            - name: boundary-config
              mountPath: /boundary
              readOnly: true
          ports:
            - name: proxy
              containerPort: 9202
              protocol: TCP
          livenessProbe:
            tcpSocket:
              port: proxy
          readinessProbe:
            tcpSocket:
              port: proxy
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      volumes:
        - name: boundary-config
          configMap:
            name: {{ include "boundary.fullname" . }}-worker-config
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end -}}
